<!doctype html>
<!-- TODO: https://github.com/fourtonfish/SimpleSharingButtons/issues/13
<html itemscope itemtype="http://schema.org/WebApplication" ng-app="app" ng-controller="AppCtrl" manifest="/cache.manifest">
-->
<html itemscope itemtype="http://schema.org/WebApplication" ng-app="app" ng-controller="AppCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description"
        content="Share to Facebook, Twitter, Google+, and other social networks using simple HTML buttons" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mario Aguilar by @marioaaas</title>
    <meta property="og:title" content="Mario Share Doc." />
    <meta property="og:description"
        content="Share to Facebook, Twitter, Google+, and other social networks using simple HTML buttons" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ui.marioaas.now.sh/" />
    <meta property="og:image" content="http://humanstxt.org/img/logo-humans.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@marioaaas">
    <meta name="twitter:title" content="Mario Docs.shared">
    <meta name="twitter:description" content="This is my blog where shared information technology and scientist">
    <meta name="twitter:image:src" content="http://simplesharingbuttons.com/images/preview-2.9.png">
    <meta name="twitter:domain" content="http://simplesharingbuttons.com/">
    <meta itemprop="name" content="Simple Sharing Buttons Generator">
    <meta itemprop="description" content="Create simple HTML sharing buttons to share your web content on Facebook, Twitter, Google+, and other social networks.
  ">
    <meta itemprop="image" content="http://simplesharingbuttons.com/images/preview-2.9.png">
    <link type="text/plain" rel="author" href="http://fourtonfish.com/humans.txt" />
    <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans|Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&amp;text=Tryit,sharethispage:'
        rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://blog.simplesharingbuttons.com/rss" />
</head>

<body>
    <!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <section id="intro" class="big">
        <div id="intro-content">
            <header>
                <p style="color:#E64B07; font-weight: bold;" class="try-it shifted-reverse">Ayudanos y comparte:</p>
                <ul class="share-buttons share-buttons-margin">
                    <li><a href="#"
                            onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fui.marioaas.now.sh/%2F','pagename','resizable,height=320,width=520'); return false;"
                            title="Facebook"><i class="fab fa-facebook fa-2x"></i></a></li>
                    <!--
                    <a href="#" onClick="window.open('https://www.facebook.com/sharer/sharer.php?u=URL','pagename','resizable,height=320,width=520'); return false;" class="share-btn fab fa-facebook"></a>
                     -->
                    <li class="shifted-icons"><a href="#"
                            onClick="window.open('https://twitter.com/intent/tweet?source=https%3A%2F%2Fui.marioaas.now.sh/%2F&text=Mario%20Aguilar%20Salazar%20Blog: https%3A%2F%2Fui.marioaas.now.sh/%2F&via=marioaaas%2F','pagename','resizable,height=320,width=520'); return false;"
                            title="Tweet"><i class="fab fa-twitter fa-2x"></i></a></li>

                    <!--
                    <li class="shifted-icons"><a
                            href="https://plus.google.com/share?url=http%3A%2F%2Fsimplesharingbuttons.com%2F"
                            target="_blank" title="Share on Google+"><i class="fab fa-google-plus-square fa-2x"></i></a>
                    </li>
                    <li class="shifted-icons"><a
                            href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fsimplesharingbuttons.com%2F&t=Simple%20Sharing%20Buttons%20Generator&s="
                            target="_blank" title="Post to Tumblr"><i class="fab fa-tumblr-square fa-2x"></i></a></li>
                    
                    
                    <li class="shifted-icons"><a
                            href="https://getpocket.com/save?url=https%3A%2F%2Fsimplesharingbuttons.com&title=Simple%20Sharing%20Buttons%20Generator"
                            target="_blank" title="Add to Pocket"><i class="fab fab fa-get-pocket fa-2x"
                                aria-hidden="true"></i><span class="sr-only">Add to Pocket</span></a></li></a></li>
                    <li class="shifted-icons"><a
                            href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fsimplesharingbuttons.com%2F&media=http://simplesharingbuttons.com/images/preview.png&description=Share%20to%20Facebook%2C%20Twitter%2C%20Google%2B%20and%20other%20social%20networks%20using%20simple%20HTML%20buttons"
                            target="_blank" title="Pin it"><i class="fab fa-pinterest-square fa-2x"></i></a></li>
                    <li class="shifted-icons"><a
                            href="http://www.reddit.com/submit?url=http%3A%2F%2Fsimplesharingbuttons.com%2F&title=Simple%20Sharing%20Buttons%20Generator"
                            target="_blank" title="Submit to Reddit"><i class="fab fa-reddit-square fa-2x"></i></a></li>
                    -->
                    <li class="shifted-icons"><a
                            href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fsimplesharingbuttons.com%2F&title=Simple%20Sharing%20Buttons%20Generator&summary=Share%20to%20Facebook%2C%20Twitter%2C%20Google%2B%20and%20other%20social%20networks%20using%20simple%20HTML%20buttons&source=http%3A%2F%2Fsimplesharingbuttons.com%2F"
                            target="_blank" title="Share on LinkedIn"><i class="fab fa-github fa-2x"></i></a></li>
                    <li class="shifted-icons"><a
                            href="http://wordpress.com/press-this.php?u=http%3A%2F%2Fsimplesharingbuttons.com%2F&t=Simple%20Sharing%20Buttons%20Generator&s=Share%20to%20Facebook%2C%20Twitter%2C%20Google%2B%20and%20other%20social%20networks%20using%20simple%20HTML%20buttons&i=http://simplesharingbuttons.com/images/preview.png"
                            target="_blank" title="Publish on WordPress"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                    <li class="shifted-icons"><a
                            href="mailto:?subject=Simple%20Sharing%20Buttons%20Generator&body=Share%20to%20Facebook%2C%20Twitter%2C%20Google%2B%20and%20other%20social%20networks%20using%20simple%20HTML%20buttons: http%3A%2F%2Fsimplesharingbuttons.com%2F"
                            target="_blank" title="Email"><i class="fas fa-envelope-square fa-2x"></i></a></li>

                    <li class="shifted-icons"><a
                            href="http://wordpress.com/press-this.php?u=http%3A%2F%2Fsimplesharingbuttons.com%2F&t=Simple%20Sharing%20Buttons%20Generator&s=Share%20to%20Facebook%2C%20Twitter%2C%20Google%2B%20and%20other%20social%20networks%20using%20simple%20HTML%20buttons&i=http://simplesharingbuttons.com/images/preview.png"
                            target="_blank" title="Publish on WordPress"><i class="fab fa-gitlab fa-2x"></i></a>
                    </li>
                </ul>
            </header>
        </div>
    </section>
    <!--
        <input type="radio" id="modephp" name="mode" ng-model="mode" value="php">
        <label for="modephp">PHP <sup><strong> BETA </strong></sup></label>

    <script defer src="../../assets/js/jquery.min.js"></script>
    <script defer src="../../assets/js/angular.min.js"></script>
    <script defer src="../../assets/js/controllers.2.9.8.min.js"></script>
    <script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-39782822-3', 'auto'); ga('require', 'displayfeatures'); ga('send', 'pageview');</script>
    <script
        type="text/javascript">var sc_project = 9860614; var sc_invisible = 1; var sc_security = "58a35609"; var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www."); document.write("<sc" + "ript async type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");</script>
    <noscript>
        <div class="statcounter"><a title="site stats" href="http://statcounter.com/" target="_blank"><img
                    class="statcounter" src="http://c.statcounter.com/9860614/0/58a35609/1/" alt="site stats"></a></div>
    </noscript>
      -->
</body>

</html>