@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(https://fonts.gstatic.com/l/font?kit=wXK3E20CsoJ9j1DDkjHcQ5ZL8xRaxru9ro9d036fuB5p3F1T_ZhGLkw&skey=979fc875265e243a&v=v10) format('woff2');
}
